@import "tailwindcss";

/* Preflight sudah otomatis masuk saat mengimport tailwindcss di v4 */

:root {
  background-color: black;
  color: white;
}

@layer base {
  body {
    /* Menghilangkan kursor asli agar tidak double dengan kursor buatan kita */
    cursor: none; 
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
}